<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinalWeb</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="welcome-page">
    <div class="welcome-content">
        <h1>Welcome to Final Web Project</h1>
        <p>Utilizing API's</p>
        <div class="navigation-buttons">
            <a href="/register"><button class="auth-button">Register</button></a>
            <a href="/login"><button class="auth-button">Login</button></a>
        </div>
    </div>
</div>
<footer>
    <p>Makhanov Yessengali SE-2211</p>
</footer>
</body>
</html>
